@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bg-color: #670894;
    --secondary-bg-color: #121115;
    --primary-cta-color: #0d013f;
    /* --secondary-bg-color: #00043c;
    --gold-color: #e2b355;
    --primary-text-color: #000;
    --secondary-bg-color-2: #ebedf7;
    --primary-cta-color: #00043c; */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* * {
  outline: red solid 1px !important;
} */
