---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Use - Tidebase." content="Terms of Use - Tidebase.">
  <main class="px-9 lg:px-[186px] py-8 font-medium xl:pb-24">
    <h1>Terms of Use</h1>
    <p>Effective Date: 08 July 2024</p>
    <p>
      Welcome to TideBase! By accessing or using our app, you agree to be bound
      by these Terms of Use. Please read them carefully.
    </p>
    <h3>1. Acceptance of Terms</h3>
    <p>
      By creating an account or using TideBase, you agree to comply with and be
      bound by these Terms of Use and our Privacy Policy. If you do not agree
      with these terms, please do not use our app.
    </p>
    <ul class="list-disc">
      2. Use of the App
      <li class="ml-6">
        Eligibility: You must be at least 18 years old to use TideBase. By using
        our app, you represent and warrant that you meet this age requirement.
      </li>
      <li class="ml-6">
        Account Registration: To access certain features of TideBase, you must
        create an account. You agree to provide accurate and complete
        information during registration and to keep your account information
        updated.
      </li>
      <li class="ml-6">
        Account Security: You are responsible for maintaining the
        confidentiality of your account credentials and for all activities that
        occur under your account. Notify us immediately of any unauthorized use
        of your account.
      </li>
    </ul>
    <ul class="list-disc">
      3. Transactions
      <li class="ml-6">
        Payments and Transfers: TideBase allows you to make payments and
        transfer funds. You authorize us to process transactions on your behalf
        and agree to comply with applicable laws and regulations.
      </li>
      <li class="ml-6">
        Fees: We may charge fees for certain transactions or services. Any
        applicable fees will be disclosed to you before you complete a
        transaction.
      </li>
      <li class="ml-6">
        Transaction Limits: We may impose limits on the amount and frequency of
        transactions for security and regulatory reasons.
      </li>
    </ul>
    <ul class="list-disc">
      4. User Conduct
      <li class="ml-6">
        Prohibited Activities: You agree not to use TideBase for any unlawful or
        prohibited activities, including but not limited to fraud, money
        laundering, or infringement of intellectual property rights.
      </li>
      <li class="ml-6">
        Compliance: You agree to comply with all applicable laws and regulations
        in connection with your use of TideBase.
      </li>
    </ul>
    <ul class="list-disc">
      5. Intellectual Property
      <li class="ml-6">
        Ownership: TideBase and its content, features, and functionality are
        owned by us and are protected by intellectual property laws.
      </li>
      <li class="ml-6">
        License: We grant you a limited, non-exclusive, non-transferable license
        to use TideBase for personal, non-commercial purposes in accordance with
        these Terms of Use.
      </li>
    </ul>
    <ul class="list-disc">
      6. Termination
      <li class="ml-6">
        Termination by You: You may delete your account and stop using TideBase
        at any time.
      </li>
      <li class="ml-6">
        Termination by Us: We may suspend or terminate your access to TideBase
        at any time for any reason, including if you violate these Terms of Use
        or engage in prohibited activities.
      </li>
    </ul>
    <ul class="list-disc">
      7. Disclaimers and Limitation of Liability
      <li class="ml-6">
        No Warranty: TideBase is provided on an "as is" and "as available"
        basis. We make no warranties, express or implied, regarding the app's
        performance, availability, or reliability.
      </li>
      <li class="ml-6">
        Limitation of Liability: To the fullest extent permitted by law, we
        shall not be liable for any indirect, incidental, special, or
        consequential damages arising out of or in connection with your use of
        TideBase.
      </li>
    </ul>
    <h4>8. Indemnification</h4><p>
      You agree to indemnify and hold us harmless from any claims, losses,
      liabilities, and expenses arising out of or in connection with your use of
      TideBase or your violation of these Terms of Use.
    </p>
    <h4>9. Governing Law</h4>
    <p>
      These Terms of Use are governed by and construed in accordance with the
      laws of [Your Jurisdiction], without regard to its conflict of laws
      principles.
    </p>
    <h4>10. Changes to Terms of Use</h4>
    <p>
      We may update these Terms of Use from time to time. We will notify you of
      any changes by posting the new terms on this page and updating the
      effective date. Your continued use of TideBase after the changes take
      effect constitutes your acceptance of the revised terms.
    </p>
    <h4>11. Contact Us</h4>
    <p>
      If you have any questions or concerns about these Terms of Use, please
      contact us at <a
        href="mailto:hello@hello@tidebase.xyz"
        class="hover:underline block">hello@tidebase.xyz</a
      >
    </p>
  </main>
</Layout>
