---
import { Image } from "astro:assets";

import appStore from "../assets/app-store.png";
import playStore from "../assets/play-store.png";
---

<div class="bg-secondaryBg px-9 lg:px-48 pt-12 lg:pt-24 pb-24 text-white">
  <p
    class="text-3xl lg:text-[4.375rem] font-black leading-tight text-center mb-10 lg:mb-20"
  >
    Banking that transcends borders, Empowering your financial journey,
    globally.
  </p>
  <p class="text-sm lg:text-3xl font-semibold">
    Receive, send, convert, hold funds in different currencies. Send funds
    locally create and make purchases with customised USD virtual cards.
  </p>
  <span class="flex gap-3 justify-center items-center px-4 mt-11 lg:mt-40">
    <a class="max-w-72" href="" target="_blank"
      ><Image src={playStore} alt="link to tidebase app on play store" />
    </a>
    <a class="max-w-72" href="" target="_blank"
      ><Image src={appStore} alt="link to tidebase app on app store" /></a
    >
  </span>
</div>
